<template>
    <div style="text-align: center;margin-top: 10%">
        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-12">
                <p>Char by application</p>
                <pie-example v-if="!charApplicationLoad" :chartdata="charApplication" :labels="optionsApplication"></pie-example>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12">
                <p>Char by browser</p>
                <pie-example v-if="!charBrowserLoad" :chartdata="charBrowser" :labels="optionsBrowser"></pie-example>
            </div>
        </div>
        <div class="row" >
            <b-table :items="dataTable">

            </b-table>
        </div>
    </div>
</template>

<script>
    /* eslint-disable */
    import PieExample from './chart/PieExample'
    import BarExample from './chart/BarExample'
    import axios from 'axios';
    export default {
        name: 'index',
        components: { PieExample, BarExample},
        data() {
            return {
                optionsApplication: [],
                optionsBrowser: [],
                charApplication: [],
                charBrowser: [],
                charApplicationLoad: true,
                charBrowserLoad: true,
                dataTable: []
            }
        },
        mounted() {
            axios.get('http://localhost:9001/v46.0/logs-login').then(res => {
                if(res.status == 200){
                    var data = res.data.body.records;
                    data.forEach(x=>{
                        this.dataTable.push({
                            Username : x.Username,
                            UserType : x.UserType,
                            SourceIp : x.SourceIp,
                            CreatedDate : x.CreatedDate,
                            Application : x.Application,
                            Browser : x.Browser
                        });
                        if(this.optionsApplication.indexOf(x.Application) == -1) {
                            this.optionsApplication.push(x.Application);
                            var index = this.optionsApplication.indexOf(x.Application);
                            this.charApplication[index] = 1;
                        }else {
                            var index = this.optionsApplication.indexOf(x.Application);
                            this.charApplication[index] = this.charApplication[index]*1 + 1;
                        }

                        if(this.optionsBrowser.indexOf(x.Browser) == -1) {
                            this.optionsBrowser.push(x.Browser);
                            var index = this.optionsBrowser.indexOf(x.Browser);
                            this.charBrowser[index] = 1;
                        }else {
                            var index = this.optionsBrowser.indexOf(x.Browser);
                            this.charBrowser[index] = this.charBrowser[index]*1 + 1;
                        }
                    });
                    this.charApplicationLoad = false;
                    this.charBrowserLoad = false;
                }
            }).catch(err => {
                console.log(err);
            });
        }
    }
</script>

<style>
    #pie-chart {
        width: 100% !important;
        max-height: 300px !important;
    }

    #line-chart {
        width: 100% !important;
        max-height: 300px !important;
    }

    #bar-chart {
        width: 100% !important;
        max-height: 300px !important;
    }
</style>
